.App {
  text-align: center;
}

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:wght@100;400&display=swap");

.logo {
  font-family: "Roboto", sans-serif;
  font-size: 50px;
}

nav {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
  color: black;
}

.homenav {
  padding: 0 10px 0 10px;
}

.favoritesnav {
  padding: 0 10px 0 10px;
}

.aboutnav {
  padding: 0 10px 0 10px;
}

form,
input,
label {
  font-family: "Roboto", sans-serif;
  display: inline-block;
}

h2,
h3,
h4,
h5 {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
